{% extends 'base.html' %}

{% block title %} Detalhar Rendimentos {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Detalhe  de Rendimentos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/rendimentos/registrar/">Registrar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/rendimentos/listar/">Listar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/rendimentos/detalhar/">Detalhar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rendimentos/apagar/">Apagar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  Ativo: {{ object.ativo }} <br>
  Data: {{ object.data }} <br>
  Valor {{ object.valor }} <br>
  Observação: {{ object.obs }} <br>


  <a href="{% url 'atualizar_rendimento' object.id %}">Atualizar</a>
  <a href="{% url 'apagar_rendimento' object.id %}">Apagar</a>


{% endblock %}