{% extends 'base.html' %}

{% block title %} Vendas {% endblock %}

{% block main %}

 <div class="container">
  <div class="row">
    <div class="col"><h1>Gerenciamento de Vendas</h1></div>
    <div class="col">{% if user.is_authenticated %}
    <p> Olá {{ user.username }}</p>
      {% else %}
         <a href="{% url 'login' %}">Login</a>
      {% endif %}

      {% if not user.is_authenticated %}
         <p> Olá {{ user.username }}</p>
      {% else %}
         <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
      {% endif %}</div>
    <div class="w-100"></div>

  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">VENDAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ativos/registrar">Registrar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="ativos/listar">Listar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="ativos/detalhes">Detalhes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ativos/apagar">Apagar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


{% endblock %}